body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: #121212;
    font-size: 15px;
    line-height: 1.5;
    background-image: url('/img/bg_sp.png');
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

.page {
    width: 1000px;
    margin: 20px auto;
    background-color: #fff;
}

.container {
    display: flex;
}

/* Head */

.header {
    padding: 20px;
    background-color: #121212;
    border-radius: 50%;
    box-shadow: 20px 10px 10px #7a7575;

}

.header-title {
    margin: 0;
    font-size: 24px;
    color: #fff;
    text-align: center;
}

.header-subtitle {
    margin: 0;
    font-size: 16px;
    color: #8f7d19;
    text-align: center;
    font-weight: normal;
}

/* Nav */

.nav-link {
    padding: 10px 15px;
    text-decoration: none;
    color: #121212;
    font-weight: 700;
}

.nav {
    display: flex;
    justify-content: center;
    text-align: center;
}

.nav-link:hover {
    background-color: #ddd;
    font-size: 18px;
    transition: linear 0.9s;
}

/* Content */

.content {
    padding: 0, 20px 20px 20px;
    width: 800px;
}

.image {
    display: block;
    max-width: 100%;
    height: auto;
    opacity: 0.9;
}


.intro {
    border-radius: 20px;

}

.intro:hover {
    opacity: 0.1;
    transition: 0.9s;

}

.content-title {
    font-size: 24px;
    margin: 0;
    color: #740b5d;
    margin-bottom: 10px;
}

.content-text {
    margin-bottom: 20px;
}

.content-link {
    color: #139acf;
    text-decoration: none;
}

.content-link:hover {
    text-decoration: underline;
}

/* Article */

.article-title {
    font-size: 18px;
    color: rgb(238, 170, 25);
    margin: 0;
}

.article-title a {
    text-decoration: none;
    color: inherit;
}

.article-title a:hover {
    text-decoration: underline;
    color: cornflowerblue;
    font-size: 20px;
}

.article-date {
    display: block;
    color: #5d5959;
    font-size: 12px;
}

.article-text {
    margin-bottom: 20px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
}

/* Sidebar */

.sidebar {
    width: 200px;
    margin: 0 20px;
    padding: 5px;

    background-color: #ccc;
}

.sidebar-title {
    margin: 10px;
    text-align: center;
    font-size: 16px;
    color: rebeccapurple;
}

.img-sidebar {
    background-color: #ece7e7;
}

/* Footer */

.footer {
    padding: 20px;
    background-color: #121212;
    color: white;
    text-align: center;
}