body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: #121212;
    font-size: 15px;
    line-height: 1.5;
    background-image: url('/img/bg_sp.png');
}

.page {
    width: 800px;
    margin: 20px auto;
    background-color: #fff;
}

/* Head */

.header {
    padding: 20px;
    background-color: #121212;
}

.header-title {
    margin: 0;
    font-size: 24px;
    color: #fff;
    text-align: center;
}

.header-subtitle {
    margin: 0;
    font-size: 16px;
    color: #8f7d19;
    text-align: center;
    font-weight: normal;
}

/* Nav */

.nav-link {
    display: inline-block;
    padding: 10px 15px;
    text-decoration: none;
    color: #121212;
    font-weight: 700;
}

.nav {
    text-align: center;
}

.nav-link:hover {
    background-color: #ddd;
    font-size: 18px;
}

/* Content */

.content {
    padding: 20px;
}

.content-title {
    font-size: 24px;
    margin: 0;
    color: #740b5d;
    margin-bottom: 10px;
}

.content-text {
    margin-bottom: 20px;
}

.content-link {
    color: #139acf;
    text-decoration: none;
}

.content-link:hover {
    text-decoration: underline;
}

/* Article */

.article-title {
    font-size: 18px;
    color: rgb(238, 170, 25);
    margin: 0;
}

.article-title a {
    text-decoration: none;
    color: inherit;
}

.article-title a:hover {
    text-decoration: underline;
    color: cornflowerblue;
    font-size: 20px;
}

.article-date {
    color: #5d5959;
    font-size: 12px;
}

.article-text {
    margin-bottom: 20px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
}

/* Footer */

.footer {
    padding: 20px;
    background-color: #121212;
    color: white;
    text-align: center;
}