body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2em;
    color: #000000;
}

.title {
    text-align: center;
    font-weight: 700;
    letter-spacing: 5px;
    text-decoration: underline;
    text-transform: uppercase;
}

.link-title {
    color: blue;
    background-color: yellowgreen;
    text-transform: uppercase;
    width: 100%;
}

.justify {
    text-align: justify;
    font-style: italic;
}

.table {
    border: 1px solid #000;
    width: 100%;
    border-collapse: collapse;
}

.table th {
    text-align: left;
    border: 3px dashed #000000;
    padding: 5px 10px;
    color: rgb(12, 147, 209);
    background-color: yellow;
}

.table td {
    border: 5px solid #000000;
    padding: 5px 10px;
}

.table tfoot td {
    text-align: center;
    background-color: orange;
}

.red-color {
    color: red;
    display: block;
    width: 100px;
    display: inline-block;

}

.content {
    width: 400px;
    margin-left: auto;
    margin-right: auto;
}