body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: #121212;
    font-size: 15px;
    line-height: 1.5;
    background-image: url('/img/bg_sp.png');
}

.page {
    width: 800px;
    margin: 20px auto;
    background-color: #fff;
}

/* Head */

.header {
    padding: 20px;
    background-color: #121212;
}

.header-title {
    margin: 0;
    font-size: 24px;
    color: #fff;
    text-align: center;
}

.header-subtitle {
    margin: 0;
    font-size: 16px;
    color: #8f7d19;
    text-align: center;
    font-weight: normal;
}

/* Nav */

.nav-link {
    display: inline-block;
    padding: 10px 15px;
    text-decoration: none;
    color: #121212;
    font-weight: 700;
}

.nav {
    text-align: center;
}

.nav-link:hover {
    background-color: #ddd;
}